// --------------------------------------------------
// Config
// --------------------------------------------------





// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: Gotham-BookItalic;
  src: url(../fonts/Gotham-BookItalic.otf);
}
@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: MercuryTestG1-Bold;
  src: url(../fonts/MercuryTestG1-Bold.otf);
}

$font-family--regular: 'Gotham-Book', Helvetica, Roboto, Arial, sans-serif;
$font-family--bold: 'Gotham-Bold', Helvetica, Roboto, Arial, sans-serif;
$font-family--italic: 'Gotham-BookItalic', Helvetica, Roboto, Arial, sans-serif;
$font-family--alt: 'MercuryTestG1-Bold', Helvetica, Roboto, Arial, sans-serif;




//
// Colors
// --------------------------------------------------


$black: #000;
$white: #fff;


$red: #D2565A;
