// --------------------------------------------------
// Headings
// --------------------------------------------------

.subheading {
   color: $cf-grey-light;
   font-size: 80%;
}

h1 {
   letter-spacing: 0.4px;
   word-spacing: 5px;
}
