<div class="mobile-nav mobile-nav--{{page.page_color}}">
  
  <a href="#" class="mobile-nav__expand">
    <img src="/assets/img/nav-icon.svg">
    {{page.title}}
  </a>
  
  <div class="mobile-nav__logo">
    <img src="/assets/img/logo-white.svg">
  </div>
  
</div>


<div class="contact-bar">
  <div class="contact-bar__container">
    
    <a class="contact-bar__link">
      <img src="/assets/img/phone-icon.svg">(657) 278-2387
    </a>
    
    <a class="contact-bar__link">
      <img src="/assets/img/mail-icon.svg">gbest@fullerton.edu
    </a>
    
    <a class="contact-bar__link contact-bar__link--vcard">
      <img src="/assets/img/download-icon.svg">download vCard
    </a>
    
    <div class="contact-bar__logo">
      <img src="/assets/img/logo-white.svg">
    </div>
    
  </div>
</div>


<nav class="medium-nav">
  <div class="medium-nav__links">
    <a href="/" class="medium-nav__links__link medium-nav__links__link--red {% if page.url == '/' %}active{% endif %}">Profile</a>
    <a href="/research" class="medium-nav__links__link medium-nav__links__link--orange {% if page.url == '/research/' %}active{% endif %}">Research</a>
    <a href="/teaching" class="medium-nav__links__link medium-nav__links__link--purple {% if page.url == '/teaching/' %}active{% endif %}">Teaching</a>
    <a href="#" class="medium-nav__links__link medium-nav__links__link--blue">Vitae PDF</a>
    <a href="#" class="medium-nav__links__link medium-nav__links__link--green">CSUF Page</a>
  </div>
</nav>