// --------------------------------------------------
// Header Module
// --------------------------------------------------

.header {
  
  overflow: auto;
  
  &__profile {
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    
    @include breakpoint(medium){
      float: left;
      margin-right: 40px;
    }
    @include breakpoint(large){
      width: 200px;
      height: 200px;
    }
  }
  
  h1 {
    
    display: block;
    font-size: 36px;
    
    @include breakpoint(medium){
      margin-top: 15px;
      font-size: 38px;
    }
    @include breakpoint(large){
      margin-top: 38px;
      font-size: 48px;
    } 
  }
  
  .break {
    display: block;
    margin-top: 3px;
    @include breakpoint(medium){
      display: inline-block;
    }
  }
  .show-med {
    display: none;
    
    @include breakpoint(medium){
      display: inline;
    }
  }
  
  &__subheading {
    font-size: 16px;
    line-height: 20px;
    color: $light-grey;
    margin-top: 10px;
  }
  
  &--large {
    
  }
}